
<div class="jumbotron text-center">
  <h1>Te invitamos a conocer Dolores Hidalgo C.I.N, un verdadero Pueblo Mágico!</h1> 
  <p>¿Ya sabes dónde visitarnos?</p> 
</div>

<!-- Container (About Section) -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>Nosotros</h2>
      <a class="btn btn-info btn-lg" href="http://doloreshidalgo.gob.mx/" target="_black" role="button">NOTICIAS</a>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon glyphicon glyphicon-calendar logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon glyphicon-briefcase logo"></span>
    </div>
    <center>
    <div class="col-sm-8">
      <h2>Dolores Hidalgo C.I.N Guanajuato</h2><br>
      <br>
      <h4><strong>Historia</strong><br>
      <br>
       Dolores Hidalgo Cuna de la Independencia Nacional, su nombre completo, es uno de los 46 municipios del estado mexicano de Guanajuato. Se ubica en la región norte-centro de su territorio y tiene una extensión de 1656,18 km². De acuerdo con el censo del año 2010, la población asciende a 148.173 a nivel municipal y a 59.240 en la cabecera municipal.
       <br>
La ciudad es reconocida por decreto, tanto del gobierno local como del federal, como la Cuna de la Independencia de México, pues el atrio de su parroquia fue testigo de Grito de Dolores, la convocatoria inicial para tomar las armas en contra del régimen virreinal y de la corona española emitida por el presbítero Miguel Hidalgo y Costilla la madrugada del 16 de septiembre de 1810.

</h4>      
      
    </div>
  </div>
</div>
</center>
<!-- Container (Services Section) -->
<div class="container-fluid text-center">
  <h2>Sitios</h2>
  <h4></h4>
  <br>
  <div class="row">
    
    <div class="col-sm-4">
      <img class="col-sm-4" src="<%=asset_path'j2.jpg'%>" >
      <h4>Mausoleo de José Alfredo Jiménez</h4>
      <a class="btn btn-info button" href="jose" role="button">Ir</a>
    </div>
    <div class="col-sm-4">
      <img class="col-sm-4" src="<%=asset_path'j1.jpg'%>" >
      <h4>Parroquia de nuestra señora de Dolores</h4>
      <a class="btn btn-info button" href="parr"role="button">Ir</a>
    </div>
    <div class="col-sm-4">
      <img class="col-sm-4" src="<%=asset_path'j3.jpg'%>" >
      <h4>Casa museo de Miguel Hidalgo</h4>
      <a class="btn btn-info button" href="mig" role="button">Ir</a>
    </div>
  </div>
  
  <br><br>

  <div class="row">

    <div class="col-sm-4">
      <img class="col-sm-4" src="<%=asset_path'jj.jpg'%>" >
      <h4>Monumento a los niños héroes</h4>
      <a class="btn btn-info button" href="her" role="button">Ir</a>
    </div>
    <div class="col-sm-4">
      <img class="col-sm-4" src="<%=asset_path'j4.jpg'%>" >
      <h4>Casa de visitas de Dolores Hidalgo</h4>
      <a class="btn btn-info button" href="vis" role="button">Ir</a>
    </div>
    <div class="col-sm-4">
      <img class="col-sm-4" src="<%=asset_path'j5.jpg'%>" >
      <h4>Casa museo de José Alfredo Jiménez</h4>
      <a class="btn btn-info button" href="cmj" role="button">Ir</a>
    </div>
  </div>
</div>


